@using WillTheAirKillMe.Data
@inject AirQualityService AirService
@inject IJSRuntime JS
<h1></h1>
@if (AirQuality == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@AirQuality.Category.Message</h1>
}


@code {
    private AirQualityReading AirQuality;
    protected override async Task<Task> OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var location = await JS.InvokeAsync<Geolocation>("getLocation");
            AirQuality = await AirService.GetQualityReading(location);
            this.StateHasChanged();
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}
